footer{
    background: #1b2a4e;
    min-height: 80px;
}
footer p{
    color: #f3f3f3;
}
.carousel-inner{
    max-height: 30rem
}
#img-equipo{
    max-height: 30rem !important;
    width: 60%;
}
/* Contacto */
.centrar-texto {
    margin: 1rem auto
}
.contacto-bg{
    background-image: url(../img/slide1.jpg);
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.formulario {
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 4rem;
}
.campo {
    margin-bottom: 2rem;
}
.campo__label {
    flex: 0 0 5rem;
    padding-right: 1.2rem;
}
.campo__field {
    flex: 1;
}
.campo__field--textarea {
    height: 15rem;
}
.boton {
    padding: .5rem 2rem;
    font-size: 1rem;
}

/* Media Query */
@media (max-width: 768px) {
    #introm #equipo{
        width: 90% !important;
    }
    .fila{
        width: 100% !important;
        text-align: center;
    }
}
@media (max-width: 576px) {
    .wrap{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}