footer{
    background: #1b2a4e;
    min-height: 80px;
}
footer p{
    color: #f3f3f3;
}
.carousel-inner{
    max-height: 30rem
}
/* Media Query */
@media (max-width: 768px) {
    #intro{
        width: 90% !important;
    }
    .fila{
        width: 100% !important;
        text-align: center;
    }
}
@media (max-width: 576px) {
    .wrap{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}